/* src/mobile.css */
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat, sans-serif;
}
#root {
  color: #090d12;
  overflow-x: hidden;
  position: relative;
}
.snappy-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overscroll-behavior-y: contain;
  width: 100vw;
  height: 100vh;
}
section {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #87CEEB;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: center;
  flex-direction: column;
}
section:nth-child(odd) {
  background-color: #98FF98;
}
section.congrats h2 {
  font-size: 2rem;
}
section.congrats h3 {
  font-size: 1rem;
}
section#addition {
  background-color: #00CED1;
}
section.setup h2 {
  font-size: 2rem;
  text-align: center;
}
section.setup h3 {
  font-size: 1rem;
}
label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.next-button {
  font-size: 2rem;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  border: 0.1rem solid #4d4747;
}
section#about p {
  font-size: 1.5rem;
  text-align: center;
}
section.setup > div,
.equation-field > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.setup input,
.equation-field input {
  display: block;
  font-size: 3rem;
  width: 90%;
  padding: .4rem;
  outline: none;
  border: none;
  border: 1px solid rgb(41, 44, 61);
  border-radius: 4px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0.7rem;
}
.equation-field input.correct {
  background-color: #32CD32;
  box-shadow: 0 0 0.5em #32CD32;
}
.equation-field input.incorrect {
  background-color: #FF6F61;
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em #FF6F61;
}
.user-interaction > h2 {
  margin-bottom: 0.5rem;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.mobile-menu {
  width: 70%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #090d12;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.mobile-menu a {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-menu a:hover {
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.7);
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}
.mobile-menu__trigger {
  cursor: pointer;
  content: "";
  position: absolute;
  z-index: 3;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  top: 2rem;
  right: -5rem;
  background: #090d12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu__trigger span {
  display: block;
  width: 50%;
  height: 2px;
  background: #fff;
  position: relative;
}
.mobile-menu__trigger span::before,
.mobile-menu__trigger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  background: #fff;
  transition: all 0.3s;
}
.mobile-menu__trigger span::before {
  top: -7px;
}
.mobile-menu__trigger span::after {
  top: 7px;
}
.mobile-menu__trigger:hover span::before {
  width: 50%;
  top: -3px;
  right: 0;
  transform: rotate(30deg);
}
.mobile-menu__trigger:hover span::after {
  width: 50%;
  top: 3px;
  right: 0;
  transform: rotate(-30deg);
}
.mobile-menu_open {
  transform: translateX(0%);
  box-shadow: 0 0 2rem #000;
}
.mobile-menu_open + .overlay {
  visibility: visible;
  opacity: 1;
}
.mobile-menu_open .mobile-menu__trigger span::before,
.mobile-menu_open .mobile-menu__trigger span::after {
  left: 0;
}
.mobile-menu_open .mobile-menu__trigger:hover span::before {
  transform: rotate(-30deg);
}
.mobile-menu_open .mobile-menu__trigger:hover span::after {
  transform: rotate(30deg);
}
