* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
  }

  #root {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
  }

  li {
    margin: 8px 0;
  }

  input {
    margin-right: 5px;
    border: 2px solid black;
    width: 50px;
    color: white;
    background-color: #d4d4d4;
  }

  .setting {
    color: #000;
    border: 1px solid black;
    background-color: transparent;
  }

  .correct {
      background-color: green;

  }

  .incorrect {
      background-color: red;
  }

  .equation-field {
      display: flex;
      margin-right: 15px;
  }

  .equation {
      width: 60px;
  }

  .sign {
      padding-left: 5px;
      padding-right: 5px;
  }

  .equations {
      max-height: 700px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }

  .results {
      padding-top: 20px;
  }
